
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  }

/* Define the dimensions and position for the video container */
/* .background-video {
  position: fixed;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place behind other content */
  /* overflow: hidden; Hide any overflowing content */
/* } */
/* Additional styles */
/* Adjust the styles for other elements as needed */
header {
  /* Styles for header */
}

main {
  /* Styles for main content */
}

footer {
  /* Styles for footer */
}

/* body {

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

} */

.wrapper {
display: flex;
justify-content: center;
align-items: center;
min-height: 110vh;
/* background: url(../images/purple.png); */
background-size: cover;
background-position: center; 
background-color: #f8f8f8;
}

.bgimage img{
  width: 35%;
  margin-top: 10px;
  margin-left: 750px;
}
header{
  position:fixed;
  width:100%;
  top:0;
  right: 0;
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 15px 6%;
  transition: all .50s ease;
  }
  .navigation{
    /* border: 3px solid black; */
    background-color: white;
  }
  .logo{
  display: flex;
  align-items: center;
  margin-left: 16px;
  }
  /* .logo i{
  font-size: 28px;
  margin-right: 3px;
  } */
  .logo span{
  width: 50%;
  margin-right: -300px;
  font-size: 1.7rem;
  font-weight: 600;
  color: black;
  /* border: 3px solid blue; */
  /* margin-top: 10px; */
  /* align-items: center; */
  }

  .navbar{
  display: flex;
  /* text-align: center; */
  /* border: 3px solid blue; */
  margin-left: -100px;
  
  }
  .navbar a{
    /* border: 3px solid black; */
  font-size: 1.1 rem;
  font-weight: 500;
  padding: 5px 0;
  margin:0px 30px;
  /* transition: all .50s ease; */
  /* color: rgb(197, 1, 247); */
  color: black;
  }
  .navbar a{
    /* border: 3px solid black; */
  font-size: 1.1 rem;
  font-weight: 500;
  padding: 5px 0;
  margin:0px 30px;
  /* transition: all .50s ease; */
  /* color: rgb(197, 1, 247); */
  color: black;
  }
  .circle{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #581ed6;
    clip-path: circle(600px at right 800px);
  }
  .main{
  display:flex;
  align-items: center;
  }
  .main a{
  margin-right: 25px;
  margin-left: 10px;
  
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
  }
  .user{
  display: flex;
  align-items: center;
  color: black; 
  }
  .user i{
  
  font-size: 28px;
  margin-right: 7px;
  color: black;
  }
  .register{
    display: flex;
  align-items: center;
  color: black; 
    
  }
  .register i{
  
    font-size: 28px;
    margin-right: 7px;
    color: black;
    }
  
    #menu-icon{
      font-size: 35px;
      /* color: var(--text-color); */
      cursor: pointer;
      z-index: 10001;
      display: none;
      color: black;
      }
      @media(max-width: 1280px){
      header{padding: 14px 2%;
      transition: .2s;
      }
      .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
      }
      }
      @media(max-width: 1090px){
      #menu-icon{
      display: block;
      }    
      .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      /* background: var(--main-color); */
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
       
      }
      .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
      }
      .navbar a:hover{
      color: var(--text-color);
      transform: translateY(5px);
      }
       
      .navbar.open{
      right: 2%;
      }
      }
  
  
  .text-box {
    width: 50%;
    /* color: #fff; */
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: -40px;
    /* border: 3px solid black; */
   
  }
  
  .text-box h1 {
    font-size: 72px;
    /* color: black; */
    font-weight: 600px;
    transition: 0.5s;
    color: #581ed6;
    text-align: left;
    /* border: 3px solid black; */
  }
  
  .text-box h1:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
  
  .text-box p {
    margin: 10px 0 40px;
    width: 60%;
    font-size: 30px;
    color: black;
    text-align: left;
    /* border: 3px solid black; */
  }
  
  



/* ---------------------about section-------------- */
.heading {
  /* justify-content: center; */
  margin-top: 25px;
  font-size: 3em;
  text-align: center;
  color: #581ed6;
}
.mvv-container {
  /* top: 10%; */
max-width: 95%;
margin: 30px auto 0;
/* border: 3px solid black; */
}

.mvv-container .mvv-block {
margin-bottom: 50px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* border: 3px solid black; */
}
#image1{
  margin-top: 18px;
}
.mvv-container .mvv-block .image {
/* flex: 0 0 auto; */
width: 400px;
height: 80%;
overflow: hidden;
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
/* border: 3px solid black; */
border-radius: 25px;
}

.mvv-container .mvv-block .image img {
width: 100%;
border-radius: 15px;
/* border: 3px solid black; */
transition: 0.3s;
transform: scale(1);
}

.mvv-container .mvv-block .image:hover img {
transform: scale(1.05);
}

.mvv-container .mvv-block .content {
flex: 0 0 auto;
width: calc(100% - 400px);
box-sizing: border-box;
align-self: center;
}

.mvv-container .mvv-block .content h1 {
font-weight: 700;
font-size: 28px;
color: #581ed6;
margin-bottom: 10px;
}

.mvv-container .mvv-block .content p {
/* font-size: 15px; */
/* text-align: justify; */
}
.content1 p{
  font-size: 22px;
  /* text-align: justify; */
}
.content2 p{
  font-size: 18px;
  color: #6c757d;
  /* text-align: left; */
}
@media screen and (min-width: 1024px) {
.mvv-container .mvv-block:nth-child(odd) .image {
  order: 1;
}

.mvv-container .mvv-block:nth-child(even) .image {
  order: 2;
}

.mvv-container .mvv-block:nth-child(odd) .content {
  order: 2;
  padding-left: 30px;
}

.mvv-container .mvv-block:nth-child(even) .content {
  order: 1;
  padding-right: 30px;
}
}

@media screen and (max-width: 1024px) {
.mvv-container .mvv-block {
  flex-direction: column;
  align-items: center;
}

.mvv-container .mvv-block .image,
.mvv-container .mvv-block .content {
  width: 100%;
  margin-bottom: 30px;
}

.mvv-container .mvv-block .image {
  order: unset;
}

.mvv-container .mvv-block .content {
  padding: 0 20px;
}
}

@media screen and (max-width: 600px) {
.mvv-container .mvv-block .image img {
  border-radius: 0;
  
}

.mvv-container .mvv-block .content h1 {
  font-size: 18px;
}

.mvv-container .mvv-block .content p {
  font-size: 14px;
}
}

/* ---------------benefits-section----------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-position: center;
min-height: 100vh;
width: 100%;

}

.wrapper1 {
font-family: "poppins", sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-size: cover;
background-position: center;
/* border: 3px solid black; */
}

.wrapper1 h1 {
margin-top: 5px;
/* border: 3px solid black; */
font-size: 3em;
/* margin: 85px; */
color: #581ed6;
}

.content-box {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 1000px;
margin-top: 20px;
/* border: 3px solid black; */
}

.card {
min-height: 220px;
width: 320px;
padding: 30px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fff;
margin: 10px 4px;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.card i {
margin: 20px;
color: #581ed6;
}

.card h2 {
margin-bottom: 12px;
font-weight: 400;
text-align: center;
}

.card p {
color: #6c757d;
text-align: center;
}

.card:hover i,
.card:hover p {
color: #fff;
}

.card:hover h2 {
font-weight: 600;
}

.card:nth-child(1):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg1.jpg");
background-size: cover;
}

.card:nth-child(2):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg2.jpg");
background-size: cover;
}

.card:nth-child(3):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg3.jpg");
background-size: cover;
}

.card:nth-child(4):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg4.jpg");
background-size: cover;
}

.card:nth-child(5):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg5.jpg");
background-size: cover;
}

.card:nth-child(6):hover {
background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("bg2.jpg");
background-size: cover;
}

@media (max-width: 991px) {
.wrapper {
  padding: 25px;
}

.wrapper h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.content-box {
  flex-direction: column;
  width: 100%;
}

.card {
  min-width: 300px;
  margin: 10px auto;
}
}

/* --------------contact section---------- */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
scroll-behavior: smooth;
}

body {
min-height: 100vh;
background-color: white;

}

.copyright {
text-align: center;
background-color: #eee;
padding: 10px;
font-size: 0.75rem;
}

.contact-main {
/* background: url("../images/contact.jpg"); */
/* color: #fff; */
min-height: 50vh;
/* border: 3px solid black; */
}

.contact-main {
padding: 12rem;
min-width: 75%;
text-align: center;
/* border: 3px solid black; */

}

.contact-main h1 {
  margin-top: -40px;
font-size: 4rem;
color: #581ed6;
}

.contact-main p {
font-size: 1.5rem;
margin: 1rem 0 2rem 0;
/* color:  rgba(67, 0, 250, 0.7) ; */

}

.contact-main a {
text-decoration: none;
/* color: #fff; */
padding: 10px 25px;
color: black;
border: 1px solid white;
position: relative;
}

.contact-main a::before {
content: "";
position: absolute;
top: 0;
left: 0;
background-color:  rgba(136, 113, 199, 0.7) ;
width: 100%;
height: 100%;
z-index: -1;
transform: scaleX(0);
transition: 0.2s ease-in-out;
border-radius: 5px;
}

.contact-main a:hover::before {
transform: scaleX(1);
}

@media screen and (max-width: 600px) {
.contact-main-text {
  width: 90%;
}

.contact-main-text h1 {
  font-size: 2rem;
}

.contact-main-text p {
  font-size: 1rem;
}
.contact-main-text a {
  padding: 5px 8px;
}
}

@media screen and (max-width: 768px) {
.contact-main-text {
  padding: 3rem;
}

.contact-main-text h1 {
  font-size: 2.5rem;
}

.contact-main-text p {
  font-size: 1rem;
}

.contact-main-text a {
  padding: 6px 15px;
}
}
.contact-form {
text-align: center;
padding: 1rem;
}

.contact-form form {
max-width: 500px;
margin: 2rem auto;
display: flex;
flex-direction: column;
}

.contact-form form input {
height: 40px;
padding: 5px 10px;
outline: none;
margin-bottom: 5px;
}

.contact-form form textarea {
padding: 5px 10px;
outline: none;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
outline: 1px solid royalblue;
}

.contact-form form button {
background-color:  rgba(35, 20, 78, 0.7);
height: 40px;
color: #fff;
border-radius: 5px;
cursor: pointer;
border: none;
margin: 5px 0;
transition: 0.3s ease-in-out;
}

.contact-form form button:hover {
background-color: rgba(136, 113, 199, 0.7); 
}

/* 
--------scroll arrow----------- */

.go-top-btn {
position: fixed;
bottom: 35px;
right: 35px;
border-radius: 50%;
cursor: pointer;
height: 50px;
width: 50px;
background: #fff;
border: 3px solid #333;
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
}

.go-top-btn img {
width: 50px;
height: 50px;
}



