.header{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    /* border: 3px solid black; */
}
#form-control{
  margin-right: 20px;
  /* border: 3px solid black; */
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .form-control ::-webkit-input-placeholder {
    color: #526489;
  }
  
  .form-control :-moz-placeholder {
    color: #526489;
  }
  
  .form-control ::-moz-placeholder {
    color: #526489;
  }
  
  .form-control :-ms-input-placeholder {
    color: #526489;
  }
.submit-button{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-body img{
  width: 50px;
  margin-left: 30px;
  margin-right: 15px;
}
.card-body span{
  padding-right: 30px;
  font-size: xx-large;
  margin-left: 50px;

}
.first{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
}
.second{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
  padding-left: 10px;
}
.dept{
  padding-left: 3px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 0px; */
}
.third{
  margin-top: 15px;
  font-size: x-large;
}
.fourth{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
 padding-left: 40px;
  /* margin-right: 120px; */
}
#chat{
  margin-right: 50px;
}
.star {
  /* border: 3px solid black; */
  margin-right: -40px;
  cursor: pointer;
}
.star.clicked {
  color: #fd4; /* Color of filled star */
}
.rating{
  /* border: solid 3px black; */
 /* margin-right: -25px;
 margin-left: -35px;
  margin-right: 10px; */
  display: flex;
  flex-direction: row;

}